<%- include('../partials/header') -%>

    <div class="text-center">
        <a id="btnHome" class="btn btn-danger" href="/login">Login to App</a>
    </div>

    <!-- <div class="text-center">
        <a id="btnHome" class="btn btn-danger" href="/signup">Create an account</a>
    </div> -->


<%- include('../partials/footer') -%>